body{
    background-image: url("./images/backgr.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.topnav {
    background-color: rgb(51, 51, 51);
    overflow:hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(152, 241, 144);
    color: rgb(0, 0, 0);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    
    color: white;
  }
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 10%
  }

button {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  cursor:pointer;
  background-color:rgb(51, 51, 51);
  color: #f2f2f2
}

button:hover {
  opacity:1;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: Verdana, Arial, Helvetica, sans-serif
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    font-family: Verdana, Arial, Helvetica, sans-serif
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float:inherit;
    width: 20%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    background-image:url(./images/backgr.jpg);
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:#f1f1f1;
    padding-top: 50px;
  
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color:rgb(247, 229, 247);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border:transparent;
    border-radius: 5%;
    width: 50%; 
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;/* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#div1{
  display:flexbox;
  float:right;
  width:150px;
	height:150px;
}

#giif{
  float: right;
  width: 40%;
  padding-right: 50px ;
  padding-top: 50px;
  border-radius: 10%;
  margin-bottom: 2%;
}

#p1{
  margin-left: 58%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(12, 43, 12);
    font-size: 25px;
    font-weight: bold;
    ;

}


.container2 {
  background-color:rgb(247, 229, 247);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border:transparent;
  border-radius: 5%;
  width: 50%;
  text-align:justify;
  padding-right: 20px;
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
}


body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 25px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  margin-left: 60px;
  scroll-margin-top: 50px;
  
}  

#vid{
padding-left: 55%;
margin-top: 3%;
padding-right: 10%;
width: max-content;
max-height: min-content;

}
li{
color: rgb(8, 119, 8);
font-size: 15px;
font-weight: bold;
text-align: center;
}

p{
  color: rgb(122, 4, 113);
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}



footer{
  height: 200px;
  margin-top: -200px;
}

.imgs1{
  float: left;
  width: 30%;
  padding: 5px;
}
.imgsize{
  height: 250px;
  width: 250px;
}
.bt{
  float: right;
  border: none;
  margin-right: 16px;
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  cursor:pointer;
  background-color:rgb(51, 51, 51);
  color: #f2f2f2

}

.price{
  color: rgb(15, 65, 15);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#facture{
text-align: center;
border-color: rgb(0, 0, 0);
color: rgb(243, 7, 7);
font-weight: bold;


}

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  
 
 
